<!DOCTYPE html>
{% load static %} 

<html>

<head>

</head>

<body>
    <footer class="page-footer">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo-container">
                        <img src="{% static 'img/ellipse-1@2x.png' %}" alt="Logo" class="footer-logo-small" style="max-width: 50%;">
                    </div>
                    <div class="footer-text">
                        <p>Dudjom Krodikali Association<br>Threthangbi, Mongar</p>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="footer-content">
                        <h5>Useful Links</h5>
                        <ul class="footer-links" style="list-style-type: none;">
                            <li><a href="http://www.pramodavajra.org/">Pramoda Vajra</a></li>
                            <li><a href="https://www.facebook.com/DungseyGarabRinpoche">Dungsey Garab Rinpoche</a></li>
                            <li><a href="https://threma-app.onrender.com/executivelogin/">Executives</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="footer-content">
                        <h5>Contact Us</h5>
                        <ul class="footer-contact">
                            <li>
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:thredangbithroema@gmail.com">thredangbithroema@gmail.com</a>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                <a href="tel:+97517566911">+975 17566911</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-content">
                        <h5>Download the Mobile App</h5>
                        <ul class="footer-social-icons">
                            <li>
                                <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fexpo.dev%2Fartifacts%2Feas%2F6expppV1bneAWGGhkUtkiQ.apk&h=AT0KEb8pP2qXNEkhiigwSVBl1j0I6Nz75aMoA9O6kIm1HcVJFJ6_V-M8cCxUkbKL4FJ7DITR8gTOTZE_ifOk4uGNzrvVfyYs17bOdDlRpTN4NUy4vmxISV18vLfqmvcmASLFDA">
                                    <img src="{% static 'img/google-play.png' %}" alt="Google Play" style="max-width: 100px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
            <div class="row">
                <div class="col-md-12">
                    <hr style="border-top: 4px solid #FFCC00; background-color: #FFCC00;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center; margin-top: 10px; color: #000;">&copy; 2022 Thredangbi Mongar. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    
</body>

</html>
