{% extends 'main.html' %}

{% block content %}
  <div class="container">
    <h2>Change Password</h2>
    {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %}
          {% if message.tags == 'error' %}
            {{ message }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
{% endblock %}
