{% extends 'main.html' %}

{% block content %}
       
        
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Practitioner</h3>
                    
                    <div class="card shadow">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <p class="text-primary m-0 fw-bold">Practitioner Info</p>

                            

                            <!-- Add a data-toggle attribute with "modal" value to the button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">Add Members</button>

<!-- Define the modal with the id "addMemberModal" -->
<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberModalLabel">Add Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Use Bootstrap's grid system to align the form fields properly -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form method="post" action="{% url 'add_member_practitioner' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.name.id_for_label }}">Name</label>
                                        <div class="input-group">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.responsibility.id_for_label }}">Responsibility</label>
                                        <div class="input-group">
                                            {{ form.responsibility }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.present_address.id_for_label }}">Present Address</label>
                                        <div class="input-group">
                                            {{ form.present_address }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.cid.id_for_label }}">CID</label>
                                        <div class="input-group">
                                            {{ form.cid }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.contact_no.id_for_label }}">Contact No</label>
                                        <div class="input-group">
                                            {{ form.contact_no }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.card_no.id_for_label }}">Card No</label>
                                        <div class="input-group">
                                            {{ form.card_no }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.village.id_for_label }}">Village</label>
                                        <div class="input-group">
                                            {{ form.village }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.geog.id_for_label }}">Geog</label>
                                        <div class="input-group">
                                            {{ form.geog }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="{{ form.dzongkhag.id_for_label }}">Dzongkhag</label>
                                        <div class="input-group">
                                            {{ form.dzongkhag }}
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Add a submit button with class "btn btn-primary" -->
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </form>

                            {% if messages %}
                                <script>
                                $(document).ready(function() {
                                    {% for message in messages %}
                                        toastr.{{ message.tags }}('{{ message }}');
                                    {% endfor %}
                                });
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
           
            
            
            
        </div>
    </div>
</div>

                                       



                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label class="form-label">Show&nbsp;
                                            <select class="d-inline-block form-select form-select-sm" onchange="changePageSize(this.value)">
                                                <option value="10" {% if page_size == 10 %}selected{% endif %}>10</option>
                                                <option value="25" {% if page_size == 25 %}selected{% endif %}>25</option>
                                                <option value="50" {% if page_size == 50 %}selected{% endif %}>50</option>
                                                <option value="100" {% if page_size == 100 %}selected{% endif %}>100</option>
                                            </select>
                                        &nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-md-6">   
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label">
                                            <input type="text" id="searchInput" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" onkeyup="searchTable()">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Responsibility</th>
                                            <th>Present Address</th>
                                            <th>CID</th>
                                            <th>Contact No</th>
                                            <th>Card No</th>
                                            <th>Village</th>
                                            <th>Geog</th>
                                            <th>Dzongkhag</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through the data retrieved from the database and populate the table rows -->
                                        {% for member in Practitioner %}
                                        <tr>
                                            <td>{{ member.name }}</td>
                                            <td>{{ member.responsibility }}</td>
                                            <td>{{ member.present_address }}</td>
                                            <td>{{ member.cid }}</td>
                                            <td>{{ member.contact_no }}</td>
                                            <td>{{ member.card_no }}</td>
                                            <td>{{ member.village }}</td>
                                            <td>{{ member.geog }}</td>
                                            <td>{{ member.dzongkhag }}</td>
                                            <!-- <td><img src="{{ member.profilepic.url }}" class="rounded-circle me-2" width="30" height="30"></td> -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
        

                                 <!-- Include the necessary JavaScript files for Bootstrap -->
                                 <script>
                                    function searchTable() {
                                        // Retrieve the search input value
                                        var input = document.getElementById("searchInput").value.toLowerCase();
                                        // Get all table rows
                                        var rows = document.getElementsByTagName("tr");
                                
                                        // Loop through the rows and hide those that don't match the search input
                                        for (var i = 0; i < rows.length; i++) {
                                            var cid = rows[i].getElementsByTagName("td")[3];
                                            var name = rows[i].getElementsByTagName("td")[0]; // Assuming name is the first column (index 0)
                                
                                            if (cid && name) {
                                                var cidValue = cid.textContent || cid.innerText;
                                                var nameValue = name.textContent || name.innerText;
                                
                                                if (cidValue.toLowerCase().indexOf(input) > -1 || nameValue.toLowerCase().indexOf(input) > -1) {
                                                    rows[i].style.display = ""; // Show the row
                                                } else {
                                                    rows[i].style.display = "none"; // Hide the row
                                                }
                                            }
                                        }
                                    }
                                </script>
                                
            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



        {% endblock %}