<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap03.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap02.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vanilla-zoom.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 

    <style>
        .clean-block.clean-hero {
            color: var(--bs-border-color-translucent);
            background: url("{% static 'img/tech/03.jpg' %}") top / cover no-repeat;
            border-color: rgba(255, 255, 255, 0.85);
            height: 886px;
        }

        .clean-block.clean-hero .text h2 {
            font-size: 78px;
            font-weight: bold;
            margin-top: 196px;
        }

        @media (max-width: 767px) {
            .clean-block.clean-hero {
                height: auto;
                padding-top: 50%;
                background-position: center;
                background-size: cover;
            }
        }
    </style>
</head>

<body>

    <main class="page landing-page">
        {% include 'nav.html' %}
        <section class="clean-block clean-hero">
            <div class="text">
                <h2>About Us</h2>
            </div>
        </section>
        
        <section class="border-0 clean-block clean-info dark" style="background: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="block-heading">
                            <h2 class="text-info">Info</h2>
                            <p class="text-info-black" style="text-align: left;">Krodhikali Practitioner groups for lay people in Bhutan and in other parts of the world were founded by His Holiness Kyabje Dungse Garab Rinpochhe, one of the original lineage holders of the Dudjom New Treasure lineage. Years ago, when Kyabje Dungse Garab Rinpochhe was leading the Krodhikali Feast Offering (Tshog) with the monks, nuns, and yogis at Thimphu Memorial Chhoeten, Rinpochhe noticed the wives of the yogis taking part in the offering with full devotion.</p>
                            <br>
                            <p class="text-info-black" style="text-align: left;">At that moment, Rinpoche started to think about forming a group for lay people in order to preserve Buddhism in Bhutan, especially the Dudjom New Treasure lineage under the Nyingma (Vajrayana) tradition.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
                    
        
          <section class="clean-block clean-info dark" style="background: rgb(255, 255, 255);">
            <div id="accordion" class="accordion" style="border-color: rgb(255, 255, 255); border-top-color: rgb(33, 37, 41); border-right-color: 37,; border-bottom-color: 41; border-left-color: 37;">
                <div class="accordion-item" id="accordion-item2">
                    <div class="accordion-cab" id="accordion-cab2" data-toggle="collapse" data-target="#accordion-corpo2">
                        <h6 class="text-center accordion-titulo" style="color: #EF9712;"><br>Dudjom Lineage</h6>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <hr style="background-color: #EF9712; height: 4px; width: 80px; border: none; margin-right: 8px;">
                            <i class="fas fa-bell" style="color: #EF9712; font-size: 20px;"></i>
                            <hr style="background-color: #EF9712; height: 4px; width: 80px; border: none; margin-left: 8px;">
                        </div>
                    </div>
                    <div class="collapse accordion-corpo" id="accordion-corpo2" aria-labelledby="accordion-cab2" data-parent="#accordion">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="block-heading">
                                        <img src="{% static 'img/lineage.jpg' %}" alt="Image" class="img-fluid">
                                        <h3>Origins of the Dudjom New Treasure Lineage</h3>
                                        <p style="text-align: left;">The origins of the Dudjom New Treasure Lineage can be traced back to Dharmakaya Samantabhadra Buddha. Samantabhadra Buddha transmitted it to Vajrasattva who then transmitted it to Garab Dorje, then to Manjusrimitra, Sri Singha, and Padmasambhava. Padmasambhava then transmitted the teachings to His consort Yeshe Tsogyal who transmitted them to Dudjom Lingpa (The 1st Dudjom). Jigdral Yeshe Dorje (The 2nd Dudjom) then received the transmission from Dudjom Lingpa’s heart son Jigme Nedun Wangpo. The 2nd Dudjom Rinpoche transmitted the terma of Dudjom Lingpa together with his own discovery to Dungse Garab Dorje Rinpoche. Thus, Dungse Garab Dorje Rinpoche presently holds the blood lineage as well as the Dharma lineage of the Dudjom Rinpoche.</p>
                                        <br>
                                        <p style="text-align: left;">The Dudjom New Treasure is one of many termas transmitted by Guru Padmasambhava during the ninth century and to be propagated at this time of degeneration. This is the most profound and appropriate teaching for this period of time to purify the negative emotions of sentient beings and to obtain liberation. Amongst the termas of Guru Padmasambhava, the termas obtained by Dudjom Lingpa and the 2nd Dudjom Rinpoche are the latest and nearest to this period of time. Thus, it is called the Dudjom New Treasure.</p>
                                        <br>
                                        <p style="text-align: left;">The special and profound qualities of the Dudjom New Treasure:</p>
                                        <br>
                                        <ol class="text-start">
                                            <li>The Dudjom New Treasure was directly taught by Padmasambhava and Yeshe Tsogyal, so the lineage is very short. It is pure and fresh with great blessing, which means the lineage warmth has not dissipated.</li>
                                            <li>The Dudjom New Treasure teachings are clear and complete in themselves. Its practice texts are simple and profound, and the graduated paths are clear and complete. It appears to be simple, but once one enters the path, other paths become clear and easily realized.</li>
                                            <li>The Dudjom New Treasure has complete teachings for accomplishment in one life for all sentient beings.</li>
                                            <li>The gradual stages of practice are systematic and, most importantly, it is complete with all the profound secret pith instructions.</li>
                                            <li>The Dudjom New Treasure: "Dud" means the five poisons, conflicting emotions, maras; "jom" means cut-off, eliminate, destroy. The Dudjom terma for this period of time is a system of teachings for followers of the lineage to cut samsara from its root, eliminate conflicting emotions, and obtain liberation in this very life. It is widely acclaimed to be a crown jewel for quick liberation among the Vajrayana in modern times.</li>
                                        </ol>
                                        <br>
                                        <p style="text-align: left;">The Dudjom New Treasure Lineage is clear and complete in itself in all aspects.</p>
                                        <br>
                                        <p style="text-align: left;">The Dudjom New Treasure Lineage has complete and clear records of each lineage holder. The First Dudjom Rinpoche Dudjom Lingpa was a great terton. At the age of 25, Padmasambhava, Yeshe Tsogyal, and several Dakinis instructed him to reveal treasure teachings. This terma revealed by Dudjom Lingpa is known as The Dudjom New Treasure and can be classified into 4 classes of teachings. The first three are "mind treasure" and the fourth is "ground treasure", all together 20 volumes.</p>
                                        <br>
                                        <ul class="text-start">
                                            <li>"Essence of Wisdom of the Pure State": The main practice is the dakini Krodikali. The second Dudjom Rinpoche prophesied that in the future, The Dudjom New Treasure lineage shall be widely propagated based on the teachings of the Dakini Krodikali.</li>
                                            <li>"The Profound teachings that Liberate naturally": The main practice is based on Gyalwa Gyamtso Chenrezig.</li>
                                            <li>"Treasure of Vast Space Dharmata": This comprises mainly the practices of Trechok, Thogal, and the Great Perfection.</li>
                                            <li>"Heart Essence of The Dakini": The heart practice of the Dakini which was transmitted directly to Dudjom Lingpa by Yeshe Tsogyal.</li>
                                        </ul>
                                        <br>
                                        <p style="text-align: left;">Great terton Jigdral Yeshe Dorje, the second Dudjom Rinpoche, was able to have direct communication with Guru Padmasambhava, Yeshe Tsogyal, and other great masters. He knew many spots where treasure teachings were hidden and would reveal them at the appropriate time. Within the Dudjom New Treasure, he also had four classes of terma, all of which are "mind treasure". This has 25 volumes.</p>
                                        <br>
                                        <ol class="text-start">
                                            <li>"Heart Essence of Lake-born": This comprises the practices of Lake-born Padmasambahva's outer, inner, secret, and extremely secret heart-essence.</li>
                                            <li>"Destroying with a Blade": The practice of Dorje Phurba.</li>
                                            <li>"Heart Instruction of The Dakini": This comprises the practices of the Dakini's outer, inner, secret, and extremely secret heart-essence.</li>
                                            <li>Dorje Lekpa.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="accordion-item" id="accordion-item4">
                        <div class="accordion-cab" id="accordion-cab4" data-toggle="collapse" data-target="#accordion-corpo4">
                            <h6 class="text-center accordion-titulo" style="color: #EF9712;"><br>Galikhar Tshokchhung</h6>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <hr style="background-color: #EF9712; height: 4px; width: 80px; border: none; margin-right: 8px;">
                                <i class="fas fa-bell" style="color: #EF9712; font-size: 20px;"></i>
                                <hr style="background-color: #EF9712; height: 4px; width: 80px; border: none; margin-left: 8px;">
                            </div>
                        </div>
                        <div class="collapse accordion-corpo" id="accordion-corpo4" aria-labelledby="accordion-cab4" data-parent="#accordion">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                        <img src="{% static 'img/sss.png' %}" alt="Image" class="img-fluid" style="width: 50%;">
                                    </div>
                                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                        <p class="accordion-p">Rangjung Woesel Choeling Monastery is located in Eastern Bhutan under Trashigang district at Rangjung. The monastery was founded by His Eminence Dungsey Garab Dorje Rinpoche in the year 1989 with a few monks and nuns. The objective of the monastery is to provide a conducive haven for the study of Buddha dharma as expounded in the Dudjom New Treasure Lineage and carry out dharma activities for the benefit of the Buddhist community in and abroad the country. It has a flourishing community with branches monasteries and retreat centers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    
                </div>
            </section>
        
        
        
        
        
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Executive Committee</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar1.jpeg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Manager</h4>
                                <p class="card-text">Sonam Wangchuk</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar2.jpeg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Chairperson</h4>
                                <p class="card-text">Ugyen Wangdi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar3.jpeg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Treasurer</h4>
                                <p class="card-text">Tshering Choden</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Gallery</h2>
                </div>
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'img/scenery/aaa.jpg' %}" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/aa.jpg' %}" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/h.jpg' %}" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/k.jpg' %}" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/s.jpg' %}" alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
                    </ol>
                </div>
            </div>
        </section>
        {% include 'footer.html'  %}
    </main>
  
    
    <script src="{% static 'bootstrap/js/bootstrap03.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'js/vanilla-zoom.js' %}"></script>   
    <script src="{% static 'js/theme03.js' %}"></script>   
    
</body>

</html>